<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.scss" | relative_url }}">
  {% feed_meta %}
  {% seo %}
</head>
<body>
  <div class="container">
    {% include header.html %}
    
    <main>
      {{ content }}
    </main>
    
    {% include footer.html %}
  </div>
</body>
</html>